<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-brief</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <header>
        <div class="logo">
            <a href="#home">
                <img src="../static/imagens/logo.png" alt="logo">
                <h1>AI-brief</h1>
            </a>
        </div>

        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#contact">Contact Us</a>
        </div>

    </header>

    <main>

        <section class="section-home" id="home">

            <h1>Artificial Intelligence</h1>
            
            <h2>For Ai</h2>

            <p>Empowering creativity and efficiency, AI transforms ideas into reality.</p>

        </section>

        <section class="section-about" id="about">

            <div class="section-about-info">
            
                <h1>About Our AI</h1>
            
                <article>
            
                    <h2>Simplify Content, Amplify Knowledge</h2>
            
                    <p>Our AI efficiently summarizes YouTube videos by extracting the most important information, saving you time and providing clear insights. Whether you're a student, professional, or simply curious, it helps you absorb key content quickly. Fast, reliable, and perfect for anyone seeking a more efficient way to learn.</p>
            
                </article>
            
            </div>


        </section>

    </main>

    <footer>

    </footer>

</body>

</html>